extends layout

block content
  h1= title
  p Sed a tempus elit. Cras nec varius est, nec mattis libero. Fusce rutrum tempus augue eu efficitur. Aenean vitae eros vitae enim mollis lacinia eget quis libero. Morbi iaculis dignissim felis, nec aliquet tellus dapibus sed. Nulla lacinia faucibus lorem, euismod feugiat elit semper at. Quisque id mi felis. Nullam posuere sapien ut lectus vehicula, quis iaculis massa sollicitudin. Integer malesuada aliquam tellus, ac maximus orci consequat ut. Nulla in efficitur mauris. Integer vel lectus pharetra magna consectetur consectetur. Nunc arcu nunc, semper sed ipsum a, laoreet rutrum odio. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent est mi, malesuada non fringilla viverra, pharetra eu justo.
